$dark: #323030;
$lightdark: #615858;

$white: #ffffff;
$grey: #E0E0E0;
$lightgrey: #e8e8e8;
$lightorange:#FE8A58;
$orange: rgba(236, 94, 33, 0.92);

$rale: "Raleway", sans-serif;
$font_basic: "Roboto", sans-serif;

* {
  font-family: $rale;
}
.row{
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
}

.body {
  font-family: $rale ;
  width: 100%;
  margin-top: 50px;
  //box-shadow: 0px 0px 20px 30px $grey;
}
.header_and_subheader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header {
  height: 150px;
  background: $dark ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  &_text_first {
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  &_text_name, &_text_surname {

    font-family: $rale ;
    font-weight: 800;
    color: $white ;
    font-size: 60px;
  }
  &_text_surname {
    font-weight: 300;
  }
  &_text_subh {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    color: $orange ;
    letter-spacing: 3px;
    //margin-top: 0px;
  }
}
.subheader {
  height: 450px;
  background: $orange ;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  &_main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    &_left {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      padding: 20px;
      margin-top: -200px;
      &_contact {
        height: 40px;
        display: flex;
        flex-direction: row;

        flex-wrap: nowrap;
        justify-content: space-around;
        margin-right: 16px;
      }
    }
    &_central_photo {
      height: 340px;
    }
    &_right {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-top: -92px;
      &_h{
        height: 100%;
      }
      &_contact {
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: left;
        margin-left: 5px;
        margin-top: -20px;
      }
      &_block_p {
        line-height: 37px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        display: block;
        text-align: justify;
        font-size: 21px;
        height: 200px;
        margin-bottom: -50px;
      }
    }
  }
  &_phones_block {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  &_lines {
    height: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;

    &_right {
      height: 7px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;

    }
  }
  // білі лінії
  &_line_white {
    height: 2px;
    background: white ;
    width: 88%;

    &_right {
      height: 3px;
      background: white ;
      width: 88%;
    }
  }
  &_line_dark {
    height: 7px;
    background: $dark ;
    width: 12%;

    &_right {
      height: 7px;
      background: $dark ;
      width: 12%;

    }
  }
  &_phones, &_location, &_website {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    margin-left: -40px;

    &_number_block, &_block {
      width: 270px;
      height: 70px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &_number, &_p {
      margin: 0;
      font-size: 23px;
    }
  }
  &_left_logo_img {
    width: 30px;
    height: 30px;
    margin-left: 20px;

  }
  &_right_logo_img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: -10px;
  }
  &_central_photo {
    width: 100%;
    height: 100%;
    border: 13px solid white;
  }
}

.subheader_main_left_h, .skills_h {
  font-family: $rale ;
  font-size: 36px;
  font-weight: 800;
}
.subheader_main_left_h{
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.phone_icon, .website, .location {
  width: 35px;
  height: 35px;
  margin-left: 5px;

}
.main4blocks {
  //display: grid;
  //grid-template-columns: 1fr 1fr;
  //grid-template-rows: 100px 200px 100px 100px 100px 100px 100px 100px 200px;
  width: 110%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.skills {
  margin-top: 50px;


  &_main {
    width: 88%;
    height: 300px;
    margin-right: 18px;
    float: right;
  }

  &_sub {
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4px;
  }

  &_img {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-left: 4px;
  }

  &_h {
    margin-left: 10px;
    color: $dark;
  }

  &_lines {
    width: 100%;
    height: 7px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &_line_orange {
    width: 8%;
    height: 7px;
    background: $orange;
  }

  &_line_dark {
    width: 92%;
    height: 3px;
    background: $dark;
  }

  &_diagrams {
    width: 100%;
    height: 70%;
    margin-top: 30px;
    transition: 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &_blocks {
      width: 45%;
      margin-bottom: 20px;
    }

    &_text {
      margin-bottom: 5px;
      font-weight: 700;
    }
  }

  &_diagrama {
    height: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &_left {
      animation-duration: 1.5s;
      background: $orange;
      animation-name: left-line;
      animation-delay: 0.1s;
    }

    &_right {
      height: 100%;
      background: $lightgrey;
    }

    @keyframes left-line {
      from {
        margin-left: 100%;
      }
      to {
        width: 100%;
      }
    }
  }

  &1_diagrama_left { width: 86%; }
  &1_diagrama_right { width: 14%; }

  &2_diagrama_left { width: 70%; }
  &2_diagrama_right { width: 30%; }

  &3_diagrama_left { width: 61%; }
  &3_diagrama_right { width: 39%; }

  &4_diagrama_left { width: 74%; }
  &4_diagrama_right { width: 26%; }

  &5_diagrama_left { width: 72%; }
  &5_diagrama_right { width: 28%; }
}


.arrow {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s ease; // Анімація повороту стрілки

  //&.expanded {
  //  transform: rotate(180deg); // Поворот стрілки на 180 градусів
  //}
}
.hobbies_arrow {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 2.3s ease;
}


//.skills_hidden {
//  display: flex;
//  flex-direction: row;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  overflow: hidden;
//  transition: max-height 0.5s ease-in-out;
//}
















.job_experience {
  height: 850px;
  background: $dark ;
  padding: 50px;
  &_main {
    height: 100%;
    float: right;
  }
  &_h {
    color: $white ;
    margin-left: 20px;
    font-family: $rale ;
    font-size: 36px;
    font-weight: 800;
  }
  &_content {
    height: 100%;
    margin-top: 30px;
  }
  &_block {
    max-height: 237px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_left {
      font-family: $rale ;
      color: $white ;
      text-align: right;
      line-height: 25px;
      height: 10px;


    }

    &_right {
      font-family: $rale;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      max-height: 300px;
      margin-bottom: -20px;
    }
  }
  &_right_text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out, padding 0.5s ease-in-out;
    margin-bottom: 82px;
    padding: 0;
    color: $white ;
  }
  &_left_year {
    font-size: 20px;
    color: $orange ;
    font-weight: 800;
  }
  &_left_h{
    font-size: 22px;
    font-weight: 700;

    font-style: italic;
  }

  &_left_country {
  }
  &_right_h {
    font-weight: 700;
    color: $white;
    display: flex;
    align-items: center;
  }
}
.job_experience_left_country{
  font-weight: 400;
  font-size: 22px;
  font-style: italic;

}

.arrow-job {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: none;
  transition: transform 0.3s ease;
}
//.arrow-job.expanded {
//  transform: rotate(180deg); // Поворот стрілки при розгортанні
//}



.arrow {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: none;
  transition: transform 0.3s ease;
}
//.arrow.expanded {
//  transform: rotate(180deg); // Поворот стрілки при розгортанні
//}
//.arrow-job.expanded + .job_experience_right_text {
//  max-height: 10px;
//}




.job_line_orange {
  width: 8%;
  height: 7px;
  background: $orange ;
}
.job_line_white {
  width: 92%;
  height: 3px;
  background: $white ;
}
.education {
  height: 950px;
  background: $orange;
  color: $white;
  padding: 20px;
  margin-top: -450px;

  &_main {
    width: 90%;
    height: 100%;
    float: right;
    margin-top: 20px;
    margin-right: 10px;

    &_all {
      height: 50%;
      width: 95%;
    }

    &_block {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      font-family: $rale;
      font-size: 18px;

      &_sub {
        font-weight: 800;
      }

      &_p_and_year {
        height: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: 5px;

      }

      &_italic {
        font-weight: 700;
        width: 50%;
        font-style: italic;
      }

      &_year {
        width: 50%;
        text-align: right;
        color: $dark;
        font-weight: 800;

      }

      &_text {
        text-align: justify;
        font-weight: 400;
        color: $white;
      }
    }
  }

  &_line_dark {
    width: 8%;
    height: 7px;
    background: $dark;
  }

  &_line_white {

    width: 92%;
    height: 3px;
    background: $white;
  }

  &_h {
    font-family: $rale;
    font-size: 36px;
    font-weight: 800;
    color: $white;
    margin-left: 10px;
  }
}
.education_hobbies{
  width: 100%;
  height: 30%;
  margin-top: 70px;
}
.job_title_wrapper{
  display: flex;
  flex-direction: row;
}
.mt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;

}
.hobbies {

    &_diagrams{
      width: 100%;
      height: 70%;
      margin-top: 30px;
      transition: 1s;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

        &_blocks{
          width: 45%;
        }
    }
    &_main{
        width: 100%;
        height: 100%;
        margin-right: 10px;
        float: left;

    }
  }

.hobbies_diagrama {
  height: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


  &_left {
    animation-duration: 1.5s;
    background: $dark;
    animation-name: left-line;
    animation-delay: 0.1s;
  }

  @keyframes left-line {
    from {
      margin-left: 100%;
    }

    to {
      width: 100%;

    }

  }

  &_right {
    height: 100%;
    background: $lightorange;

  }
}

.hobbies1_diagrama_left {
  width: 82%;
  transition: all 0.3s ease; /* Використання transition для плавного переходу */

}
.hobbies1_diagrama_right {
  width: 18%;
  transition: all 0.3s ease; /* Використання transition для плавного переходу */

}
.hobbies2_diagrama_left {
  transition: all 0.3s ease; /* Використання transition для плавного переходу */

  width: 70%;
}
.hobbies2_diagrama_right {
  width: 30%;
}
.hobbies3_diagrama_left {
  width: 61%;
}
.hobbies3_diagrama_right {
  width: 39%;
}
.hobbies4_diagrama_left {
  width: 74%;
}
.hobbies4_diagrama_right {
  width: 26%;
}
.hobbies5_diagrama_left {
  width: 72%;
}
.hobbies5_diagrama_right {
  width: 28%;
}






.reference {
  color: $dark ;
  padding: 50px;
  margin-top: 20px;
  &_main {
    width: 95%;
  }
  &_line_orange {
    width: 8%;
    height: 7px;
    background: $orange ;
  }
  &_line_dark {
    width: 92%;
    height: 3px;
    background: $dark ;
  }
  &_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: $rale ;
    margin-bottom: 50px;
    &_block {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &_h {
      color: $dark ;
      font-weight: 800;
      height: 20px;
      font-size: 23px;
    }
    &_adress {
      font-weight: 800;
      color: $orange ;
      font-style: italic;
      height: 10px;
      font-size: 17px;

    }
    &_number {
      color: $dark ;
      height: 10px;
      font-size: 18px;

    }
    &_email {
      color: $dark ;
      height: 10px;
      font-size: 18px;

    }
  }
  &_linkedin {
    background: $dark ;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    &_main {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &_left {
      height: 50px;
      width: 10%;
      font-family: $rale ;
      line-height: 25px;
      color: $white;
      font-size: 23px;
      font-weight: 600;
      margin-left: -50px;
    }
    &_right{
      height: 60px;
      width: 70%;

      &_p{
        font-size: 23px;
        font-weight: 600;

      }
    }
    &_p2 {
      font-family: $rale ;
      line-height: 30px;
      color: $white;

    }
    &_a {
      color: $lightgrey ;
      line-height: 35px;
      font-style: italic;
      cursor: pointer;
      text-decoration: none;
    }
  }
}



.skills_experience_right{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out, padding 0.5s ease-in-out;
  margin-bottom: 100px;
  padding: 0;
  color: $white ;
}






//@media screen and (min-width: 1200px){
//
//  .skills{
//    width: 50%;
//  }
//  .job_experience{
//    height: 850px;
//
//    &_main{
//      width: 100%;
//    }
//    &_right_text{
//      font-size: 15px;
//    }
//  }
//
//  .education{
//    //margin-top: -400px;
//    &_main_block{
//      margin-top: 50px;
//    }
//    &_hobbies{
//      margin-top: 60px;
//      margin-left: -50px;
//    }
//    &_main{
//      &_block{
//        &_text{
//          font-weight: 400;
//        }
//      }
//    }
//
//  }
//  .reference {
//    height: 100px;
//    &_content{
//      display: flex;
//      flex-direction: row;
//      flex-wrap: nowrap;
//      justify-content: space-between;
//      &_block{
//        height: 120px;
//        line-height: 1px;
//      }
//      &_adress{
//        font-weight: 800;
//      }
//    }
//    &_linkedin{
//      padding: 40px;
//      &_p2{
//        height: 30px;
//      }
//      &_left{
//        height: 100%;
//
//      }
//      &_right{
//        height: 100%;
//      }
//
//    }
//
//    &_main{
//      height: 200px;
//    }
//  }
//}
//@media screen and (min-width: 721px) and (max-width: 1200px) {
//  .body {
//    width: 100%;
//  }
//  .header {
//    height: 120px;
//
//    .header_text_name, .header_text_surname {
//      font-size: 40px;
//    }
//
//    .header_text_subh {
//      font-size: 20px;
//
//    }
//  }
//  .subheader_lines {
//    width: 100%;
//    height: 5px;
//  }
//  .subheader_line_white {
//    width: 85%;
//    background: $white;
//  }
//  .subheader_line_dark {
//    width: 15%;
//
//    background: $dark;
//  }
//
//  .subheader {
//    height: 550px;
//    display: flex;
//    flex-direction: column;
//
//    &_line_white{
//      width: 85%;
//    }
//    &_line_dark{
//      width: 15%;
//    }
//    &_lines{
//      width: 100%;
//    }
//    &_central_photo {
//      margin-left: -70px;
//    }
//    &_main {
//      width: 90%;
//      height: 500px;
//      display: flex;
//      justify-content: space-between;
//
//
//      &_left {
//        width: 50%;
//        height: 300px;
//        &_contact{
//          width: 220px;
//          display: flex;
//        }
//        &_h {
//        }
//      }
//      &_central_photo {
//        height: 300px;
//        width: 40%;
//        border-radius: 10%;
//      }
//      &_right{
//        width: 100%;
//      }
//    }
//  }
//  .skills{
//    width: 90%;
//    height: 400px;
//
//
//
//  }
//  .job_experience {
//    height: 900px;
//    width: 100%;
//
//    &_block_left {
//      width: 30%;
//    }
//
//    &_block_right {
//      width: 60%;
//    }
//  }
//
//    .education {
//      width: 100%;
//      height: 900px;
//      display: flex;
//      flex-direction: row;
//      margin-top: 00px;
//
//      &_hobbies {
//        width: 100%;
//        display: flex;
//        flex-direction: row;
//        flex-wrap: wrap;
//      }
//    }
//    .reference{
//      width: 100%;
//      display: flex;
//
//      flex-direction: column;
//      flex-wrap: wrap;
//
//      &_block{
//        width: 40%;
//        background: #000;
//      }
//    }
//
//  }
//
//
//
//@media screen and (min-width: 500px) and (max-width: 721px) {
//  .body {
//    width: 100%;
//  }
//  .header {
//    height: 120px;
//
//    .header_text_name, .header_text_surname {
//      font-size: 40px;
//    }
//
//    .header_text_subh {
//      font-size: 20px;
//
//    }
//  }
//  .subheader_lines {
//    width: 100%;
//    height: 5px;
//  }
//  .subheader_line_white {
//    width: 85%;
//    background: $white;
//  }
//  .subheader_line_dark {
//    width: 15%;
//
//    background: $dark;
//  }
//
//  .subheader {
//    height: 600px;
//    display: flex;
//    flex-direction: column;
//
//    &_line_white{
//      width: 85%;
//    }
//    &_line_dark{
//      width: 15%;
//    }
//    &_lines{
//      width: 100%;
//    }
//    &_central_photo {
//      margin-left: 0px;
//    }
//    &_main {
//      width: 90%;
//      height: 700px;
//      display: flex;
//      justify-content: space-between;
//
//
//      &_left {
//        width: 50%;
//        height: 300px;
//        &_contact{
//          width: 220px;
//          display: flex;
//        }
//        &_h {
//        }
//      }
//      &_central_photo {
//        height: 300px;
//        width: 40%;
//        border-radius: 10%;
//      }
//      &_right{
//        width: 100%;
//      }
//    }
//  }
//  .skills{
//    width: 90%;
//    height: 400px;
//
//
//
//  }
//  .job_experience {
//    height: 900px;
//    width: 100%;
//
//    &_right{
//      &_text{
//        font-size: 13px;
//      }
//    }
//    &_h{
//      font-size: 30px;
//    }
//    &_block_left {
//      width: 30%;
//    }
//
//    &_block_right {
//      width: 60%;
//    }
//  }
//
//  .education {
//    width: 100%;
//    height: 1000px;
//    display: flex;
//    flex-direction: row;
//    margin-top: 00px;
//
//    &_main{
//      height: 1200px;
//    }
//    &_hobbies {
//      height: 20%;
//      width: 100%;
//      display: flex;
//      flex-direction: row;
//      flex-wrap: wrap;
//    }
//  }
//  .reference{
//    width: 100%;
//    display: flex;
//
//    flex-direction: column;
//    flex-wrap: wrap;
//
//    &_linkedin{
//      width: 100%;
//      padding: 40px;
//      display: flex;
//      align-items: center;
//      flex-direction: row;
//
//      &_right{
//        font-size: 14px;
//      }
//      &_left{
//        font-size: 14px;
//      }
//    }
//    &_block{
//      width: 40%;
//      background: #000;
//    }
//  }
//
//}
//@media screen and (max-width: 499px) {
//  .body {
//    width: 100%;
//  }
//  .header {
//    height: 80px;
//
//    .header_text_name, .header_text_surname {
//      font-size: 30px;
//    }
//
//    .header_text_subh {
//      font-size: 15px;
//
//    }
//  }
//  .subheader_lines {
//    width: 100%;
//    height: 5px;
//  }
//  .subheader_line_white {
//    width: 85%;
//    background: $white;
//  }
//  .subheader_line_dark {
//    width: 15%;
//
//    background: $dark;
//  }
//
//  .subheader {
//    height: 950px;
//    display: flex;
//    flex-direction: column;
//
//    &_line_white{
//      width: 85%;
//    }
//    &_line_dark{
//      width: 15%;
//    }
//    &_lines{
//      width: 100%;
//    }
//    &_central_photo {
//      margin-left: 0px;
//    }
//    &_main {
//      width: 96%;
//      display: flex;
//      justify-content: space-between;
//      flex-wrap: wrap;
//
//
//      &_left {
//        width: 100%;
//        height: 300px;
//        margin-bottom: 20px;
//        &_contact{
//          width: 220px;
//          display: flex;
//        }
//        &_h {
//        }
//      }
//      &_central_photo {
//        height: 260px;
//        width: 70%;
//        margin: 0 auto;
//      }
//      &_right{
//        width: 100%;
//      }
//    }
//  }
//  .skills{
//    width: 90%;
//    height: 400px;
//
//
//
//  }
//  .job_experience {
//    height: 1100px;
//    width: 100%;
//    padding: 20px;
//    &_left_year{
//      width: 150px;
//      margin-left: -30px;
//    }
//    &_h{
//      font-size: 26px;
//    }
//    &_right_text{
//      margin-bottom: 100px;    }
//    &_block_left {
//      width: 30%;
//      font-size: 12px;
//
//    }
//
//    &_block_right {
//      width: 60%;
//      font-size: 14px;
//    }
//  }
//
//  .education {
//    width: 100%;
//    height: 1200px;
//    display: flex;
//    flex-direction: row;
//    margin-top: 00px;
//    &_main{
//      height: 1200px;
//    &_block{
//      height: 300px;
//      &_italic{
//        width: 100%;
//
//      }
//      &_year{
//        width: 100%;
//        height: 30px;
//        text-align: left;
//      }
//      &_text{
//        height: 200px;
//        margin-top: 30px;
//      }
//    }
//    }
//    &_main_all{
//      width: 100%;
//      height: 700px;
//    }
//    &_hobbies {
//      width: 100%;
//      display: flex;
//      flex-direction: row;
//      flex-wrap: wrap;
//    }
//  }
//  .reference{
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    flex-wrap: wrap;
//    &_main{
//      width: 10px;
//    }
//
//    &_content{
//      width: 100%;
//      display: flex;
//      flex-direction: row;
//      flex-wrap: wrap;
//
//      &_block{
//        width: 100%;
//      }
//    }
//    &_main{
//      width: 100%;
//    }
//
//    &_linkedin{
//      width: 100%;
//      height: 130px;
//
//
//      &_main{
//        width: 90%;
//        display: flex;
//        flex-direction: row;
//        flex-wrap: wrap;
//
//      }
//      &_left{
//        width: 100%;
//        font-size: 16px;
//
//      }
//      &_right{
//        width: 100%;
//        height: 20px;
//        font-size: 16px;
//
//      }
//      &_a{
//        font-size: 14px;
//      }
//    }
//  }
//
//}






//ANIMATION

//.hobbies_diagrama_left::before{
//  background: $lightdark;
//  transition: .1s;
//  height: 12px;
//}
//.hobbies_diagrama_left::after{
//  background: green;
//  transition: .1s;
//  height: 12px;
//}